/* 
.stChatInput {
    color: white;
} */

.st-emotion-cache-gsyaok {
    background-color: #FFFFFF;
}

.st-bb {
    background-color: #FFFFFF;
    color: #4B0F1E;
}

/* .st-cd {
    background-color: blue;
}

.st-db {
    background-color: blue;
} */

/* .st-dc {
    background-color: blue;
}

.st-dd {
    background-color: blue;
}

.st-de {
    background-color: blue;
}
.st-ce {
    background-color: blue;
}
.st-cg {
    background-color: blue;
}
.st-cf {
    background-color: blue;
}
.st-ch {
    background-color: blue;
}
.st-ci {
    background-color: blue;
}
.st-b7 {
    background-color: blue;
}
.st-dk {
    background-color: blue;
} */
/* .st-c8 {
    background-color: blue;
} */
/* .st-be {
    background-color: blue;
} */
/* .st-dl {
    background-color: blue;
} */

